{% extends "base.html" %}

{% block title %}
Formulaire Région - EpiTEC
{% endblock %}


{% block content %}

<div class="card">

    <h1>
        Formulaire hebdomadaire
    </h1>

    <p>
        Région :
        <strong>
            {{ request.user.region }}
        </strong>
    </p>

    <p>
        Cet espace permettra de saisir
        le rapport épidémiologique hebdomadaire.
    </p>

</div>


<div class="card">

    <h2>
        I - Surveillance basée sur les indicateurs
    </h2>

    <p>
        Cette partie contiendra :
    </p>

    <ul>
        <li>Maladies à déclaration obligatoire</li>
        <li>Surveillance sentinelle</li>
        <li>MAPI</li>
        <li>WNV</li>
        <li>Maladies à déclaration non obligatoire</li>
    </ul>

</div>


<div class="card">

    <h2>
        II - Surveillance basée sur les événements
    </h2>

    <p>
        Les événements détectés durant
        la semaine seront enregistrés ici.
    </p>

</div>


<div class="card">

    <button class="btn-primary">
        Commencer le formulaire
    </button>

</div>

{% endblock %}